<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pneumonia Detection</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">      
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand mr-sm-5" href="{{ url_for('about') }}">PneumoSCAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-sm-5  ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Acceuil</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/base">C'est quoi la Pneumonie?</a>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">A propos </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ha">DataSet</a>
              </li>
             
              
           
          </ul>
          
        </div>
      </nav>
      <div class="container" >
        <p class="titre" >
           Pneumonie
        </p>
      </div>

      <div class="container about-p"> 
      <div class="row justify-content-evenly div1">
        <div class="col-md-6 align-self-center">
          <p>
            La pneumonie est une infection des poumons qui peut être causée par divers agents pathogènes tels 
            que des bactéries, des virus, des champignons ou d'autres agents infectieux. Lorsque quelqu'un est affecté par
             la
            cette maladies, les sacs d'air des poumons deviennent enflammés et remplis de liquide, ce qui rend la respiration difficile et douloureuse.
          
          
          </p>
            
        </div>
       
         <div class="col-md-6 align-self-center">
         <img src="../static/images/3.jpeg" alt="" class="image3"> 
        </div>
      </div>
      </div>

     
    
</body>

<footer class="bg-dark text-center text-white fixed-bottom">
  <!-- Grid container -->
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="">PneumoSCAN</a>
  </div>
  <!-- Copyright -->

  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script> 
</footer>

</html>